/* weekday header */
.mcbColDayH, .mcbColDayCWH {
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: .9em;
	padding: 3px 4px 4px 3px !important;
}
.mcbColDayH {
    width: 14.3%;
}
.mcbColDayCWH {
    width: 12.5%;
}
/* days */
.mcbColDay, .mcbColCW, .mcbColEmpty {
    font-weight: normal;
    font-size: .85em;
    vertical-align: middle;
}
.mcbColDay a {
    text-decoration: none;
    display: block;
    vertical-align: middle;
}
.mcbColDay:hover {
	border-width: 1px;
	border-style: outset !important;
	border-color: ActiveCaption !important;
	padding: 3px 4px 4px 3px !important;
}
.mcbColDayLeft, .mcbColDayLeft a {
    text-align: left !important;
}
.mcbColDayCenter, .mcbColDayCenter a {
    text-align: center !important;
}
.mcbColDayRight, .mcbColDayRight a {
    text-align: right !important;
}
.mcbColCurDay {
	border-width: 1px;
	border-style: solid !important;
	border-color: ActiveCaption !important;
	font-weight: bold;
}
.mcbAppointment {
    background-image: url("../icon/mcbAppointmentS.png");
    background-repeat: no-repeat;
}
.mcbAppointmentLeft {
    background-position: center left !important;
}
.mcbAppointmentCenter {
    background-position: center center !important;
}
.mcbAppointmentRight {
    background-position: center right !important;
}


.mcbColEmpty {
    font-size: .8em;
}
